* {
    margin: 0;
    padding: 0;
}

body {

    background-color: #121212;
    color: #b3b3b3;
    position: relative;

    font-family: 'Poppins', sans-serif;
}

.mainBody {
    display: flex;
    height: 100vh;
}

.leftSection {
    background-color: #212121;
    border-radius: 1rem;

    margin: 0.5rem;
    padding: 0.5rem;
    width: 70%;
    height: auto;
}

.navbar {
    background-color: #212121;

    width: 100%;
    min-height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SpotifyPlaylist {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 90%;
    width: 100%;

}

.rightSection {
    width: 30%;

}

.NavigationSection {
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: #212121;
    border-radius: 1rem;

    min-height: 12%;
}

.Home {
    padding: 1vh;
    margin: 1vh;
}

.Search {
    padding: 1vh;
    margin: 1vh;

}

.HomeLogo {
    font-size: x-large;
    padding-right: 1vw;
}

.SearchLogo {
    font-size: x-large;
    padding-right: 1vw;

}

.YourPlaylist {
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: #212121;
    border-radius: 1rem;

    min-height: 72%;
    position: relative;
}

.searchBar {
    background-color: #535353;
    border-radius: 4vh;
    width: 55vh;
    height: 7vh;
    border: none;
    text-align: start;
    display: inline-block;
    margin-right: 65vh;
}

.search {
    width: 80%;

    height: 7vh;
    text-align: start;
    margin: 0 0 0 1vh;
    border: none;
    background: transparent;
    font-size: medium;
    /* text-decoration: none; */
    outline: none;
    /* this removes the outline when the input is focused*/
    caret-color: white;
    /*changes cursor colour to white*/
}

.searchLogo {
    margin-left: 2vh;
    padding-top: 0.3vh;
    color: white;
}

.SignUp {
    font-weight: 800;
    margin: 2vh;
}

.LogIn {
    padding: 2vh;
    background-color: white;
    font-weight: 800;
    color: black;
    border-radius: 3vh;
    width: 10vh;
    display: block;

    text-align: center;
}

.SignUp:hover {
    color: white;
}

.Home:hover {
    color: white;

}

.Search:hover {
    color: white;

}

.playlist {
    width: 23%;
    height: 47%;
    background-color: #1db954;
    margin: 0.5vh;
    margin-top: 2vh;
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.album {
    width: 80%;
    height: 70%;
    /* background-image: url(PlaylistImages/ekVillain.jpg); */
    background-size: contain;
    background-repeat: no-repeat;

}

.Animal {
    background-image: url(PlaylistImages/Animal.jpg);
}

.Ashiqui2 {
    background-image: url(PlaylistImages/Ashiqui2.jpg);
}

.Dhruva {
    background-image: url(PlaylistImages/dhruva.jpg);
}

.EkVillain {
    background-image: url(PlaylistImages/ekVillain.jpg);
}

.Salaar {
    background-image: url(PlaylistImages/salaar.jpg);
}

.Maharshi {
    background-image: url(PlaylistImages/maharshi.jpg);
}

.Iddarammailatho {
    background-image: url(PlaylistImages/iddarammailatho.jpg);
}

.kgf2 {
    background-image: url(PlaylistImages/kgf2.jpg);
}

.playBar {
    width: 100%;
    background-color: #121212;
    /* background-color: #fff; */
    height: 8vh;

    padding-top: 2vh;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: start;


}

.YourPlaylist p {
    color: white;
    font-weight: 600;
    font-size: xx-large;
    margin: 2vh;
}

.localsongs {
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: start;
    margin: 2vh;
    /* background-color: #fff; */
    min-height: 80%;
    width: 90%;
}

.SongCard {

    /* position: absolute; */
    width: 100%;
    height: 20%;
    background-color: #535353;
    display: flex;
    /* justify-content: ; */
    /* gap: 10px; */
    align-items: center;
    border-radius: 1vh;
    margin: 1vh;
    /* transition: box-shadow 0.3s; */
    transition: transform 0.2s;
}
.SongCard:hover{
    /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5); */
    transform: scale(1.02);
    
}

.Banjaara {
    width: 8vh;
    background-size: contain;
    background-repeat: no-repeat;
    height: 8vh;
    border-radius: 2vh;
    background-image: url(PlaylistImages/ekVillain.jpg);
    margin: 1vh;
    
}

.songName {
    width: 70%;
    
}
.SongCard img {
    transition: transform 0.2s;
    
}
.SongCard img:hover{
    transform: scale(1.2);
}