* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F0F0C9;
}

.navbar {
  background-color: #124e78;
  color: #f0f0c9;
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
  height: 75px;
}

.navbar span {
  padding: 20px;
}

.gameContainer {
  width: 27rem;
  height: 27rem;
  margin: 75px;
}

.box {


  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  height: 9rem;
  font-family: 'Kanit', sans-serif;
  font-size: 7rem;
  font-weight: 800;
  color: #6E0E0A;
}

.row {
  display: flex;
}

.firstRow {
  border-bottom: 10px solid black;
}

.secondRow {
  border-bottom: 10px solid black;

}

.b1 {
  border-right: 10px solid black;
}

.b2 {
  border-right: 10px solid black;
}

.b4 {
  border-right: 10px solid black;
}

.b5 {
  border-right: 10px solid black;
}

.b7 {
  border-right: 10px solid black;
}

.b8 {
  border-right: 10px solid black;
}